<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>コンテント</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>
<%= link_to"一覧に戻る",tasks_path %>
<%= link_to"編集する",edit_task_path(@task) %>
<% if current_user == @task.user %>
<%= link_to"削除する",@task,method: :delete, data:{confirm:"本当に削除してよろしいですか？"} %>
<% end %>